Quiz 1 Solutions

Here, I will be providing the solutions to the Hamoye's Introduction to Python for Machine Learning quiz 1.

The Data

I will be working on the data set on fuel burned, electricity generated, power plant usage patterns, plant capacity factors and emissions from greenhouse gases using the quiz sections as a guide. 
Dataset Description
The data provided in this Github link is the fuel quality data from the Federal Energy Regulatory Commission which is provided by the United States Energy Information Administration. The data consists of the following columns:

'Record_id' : record id
'Utility_id_ferc1': Utility id assigned by the FERC
'Report_year': year of report
'Plant_name_ferc1': the name of the plant
'Fuel_type_code_pudl': the type of fuel
'Fuel_unit': the unit of fuel
'Fuel_qty_burned': the quantity of fuel burned
'Fuel_mmbtu_per_unit': the measure of energy per unit
'fuel_cost_per_unit_burned': the fuel cost per unit burned
'Fuel_cost_per_unit_delivered': the cost of fuel delivered per unit
'fuel_cost_per_mmbtu': the cost of fuel per mmbtu

In [1]:
#import the neccesary libraries
import numpy as np
import pandas as pd

In [2]:
#Reading the data from where it is located 
fuel_df = pd.read_csv('fuel_ferc1.csv')

In [3]:
#previewing the first four rows of the dataset
fuel_df.head()

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570

In [4]:
#previewing the last four rows of the dataset
fuel_df.tail()

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
29518,f1_fuel_2018_12_12_0_13,12,2018,neil simpson ct #1,gas,mcf,18799.0,1.059,4.78,4.78,9.03
29519,f1_fuel_2018_12_12_1_1,12,2018,cheyenne prairie 58%,gas,mcf,806730.0,1.050,3.65,3.65,6.95
29520,f1_fuel_2018_12_12_1_10,12,2018,lange ct facility,gas,mcf,104554.0,1.060,4.77,4.77,8.99
29521,f1_fuel_2018_12_12_1_13,12,2018,wygen 3 bhp 52%,coal,ton,315945.0,16.108,3.06,14.76,1.11
29522,f1_fuel_2018_12_12_1_14,12,2018,wygen 3 bhp 52%,gas,mcf,17853.0,1.059,0.00,0.00,11.68

In [5]:
#concise summary of a DataFrame. 
#This method prints information about a DataFrame including the index dtype and column dtypes, non-null values and memory usage
fuel_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29523 entries, 0 to 29522
Data columns (total 11 columns):
record_id                       29523 non-null object
utility_id_ferc1                29523 non-null int64
report_year                     29523 non-null int64
plant_name_ferc1                29523 non-null object
fuel_type_code_pudl             29523 non-null object
fuel_unit                       29343 non-null object
fuel_qty_burned                 29523 non-null float64
fuel_mmbtu_per_unit             29523 non-null float64
fuel_cost_per_unit_burned       29523 non-null float64
fuel_cost_per_unit_delivered    29523 non-null float64
fuel_cost_per_mmbtu             29523 non-null float64
dtypes: float64(5), int64(2), object(4)
memory usage: 2.5+ MB

The extend function will be used.

In [6]:
#Identity matrix: an array with unity at its diagonal. A 2D identity matrix is given below
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [7]:
#Use the groupby function to to find the lowest average fuel cost per unit burned
avg_fuel_cost_burned = fuel_df.groupby(['fuel_type_code_pudl'])['fuel_cost_per_unit_burned'].mean().sort_values()

In [8]:
avg_fuel_cost_burned

fuel_type_code_pudl
gas          13.659397
other        18.253856
waste        19.518122
coal         67.421830
oil         168.877086
nuclear    4955.157002
Name: fuel_cost_per_unit_burned, dtype: float64

In [9]:
# Index 
avg_fuel_cost_burned.index[0]

'gas'

In [10]:
# To find the standard deviation and the 75th percentile
fuel_mmbtu_per_unit_properties = fuel_df['fuel_mmbtu_per_unit'].describe()

In [11]:
fuel_mmbtu_per_unit_properties

count    29523.000000
mean         8.492111
std         10.600220
min          0.000001
25%          1.024000
50%          5.762694
75%         17.006000
max        341.260000
Name: fuel_mmbtu_per_unit, dtype: float64

In [12]:
#calculating the skewness and kurtosis of fuel quantity burned
skewness = fuel_df['fuel_qty_burned'].skew()
skewness = str(round(skewness, 2))

#calculating the kurtosis of the fuel quantity burned
kurtosis = fuel_df['fuel_qty_burned'].kurt()
kurtosis = str(round(kurtosis, 2))
skewness,kurtosis

('15.85', '651.37')

In [13]:
#To check if there are missing or ommited values in any of the rows or columns
fuel_df.isnull().any()

record_id                       False
utility_id_ferc1                False
report_year                     False
plant_name_ferc1                False
fuel_type_code_pudl             False
fuel_unit                        True
fuel_qty_burned                 False
fuel_mmbtu_per_unit             False
fuel_cost_per_unit_burned       False
fuel_cost_per_unit_delivered    False
fuel_cost_per_mmbtu             False
dtype: bool

In [14]:
total_null = fuel_df['fuel_unit'].isnull().sum()
total= fuel_df['fuel_unit'].count()
percentage = total_null/total *100
print('Feature: fuel_unit' ,'Total:',total_null,'Percentage:', str(round(percentage,3)))

Feature: fuel_unit Total: 180 Percentage: 0.613

The feature with the missing value is categorical. The analysis that can only be done with a categorical value is count. The missing value imputation technique will be the mode.

In [15]:
# To find the correlation among the columns using pearson method 
correlation = fuel_df.corr(method ='pearson') 
# To find the correlation of other numeric features when compared to the fuel cost burned
print(correlation.loc['fuel_cost_per_unit_burned'].abs().sort_values().head(2))

fuel_cost_per_mmbtu    0.000437
fuel_mmbtu_per_unit    0.010034
Name: fuel_cost_per_unit_burned, dtype: float64

In [16]:
#Use the groupby function to group both the year and fuel type to find out the fuel cost per unit burned
cost = fuel_df.groupby(['report_year', 'fuel_type_code_pudl'])['fuel_cost_per_unit_burned'].sum()
cost

report_year  fuel_type_code_pudl
1994         coal                    14984.572
             gas                     10792.496
             nuclear                227983.354
             oil                      9362.194
             other                     116.737
             waste                      52.762
1995         coal                    14571.785
             gas                      9087.905
             nuclear                384152.639
             oil                     17858.281
             other                     183.577
             waste                    -192.699
1996         coal                    12694.803
             gas                      1467.390
             nuclear                 66657.887
             oil                      5357.028
             other                     160.075
             waste                      88.092
1997         coal                    43742.178
             gas                      1518.471
             nuclear                112593.911
             oil                      5387.536
             other                     153.923
             waste                     137.433
1998         coal                    11902.597
             gas                      7475.596
             nuclear                117788.269
             oil                      2608.657
             other                     225.428
             waste                     238.109
                                       ...
2013         other                     182.494
             waste                     609.411
2014         coal                    15412.197
             gas                      4169.285
             nuclear                229158.129
             oil                    268670.603
             other                       0.661
             waste                     591.594
2015         coal                    13338.235
             gas                      6224.304
             nuclear                208830.486
             oil                     31038.094
             other                       0.595
             waste                     629.270
2016         coal                    11100.925
             gas                      1994.266
             nuclear                213837.559
             oil                     28012.376
             other                       0.609
             waste                     539.079
2017         coal                    10254.284
             gas                      4424.244
             nuclear                197491.493
             oil                     31935.723
             waste                     452.079
2018         coal                     9488.197
             gas                      4322.494
             nuclear                173267.161
             oil                     33836.602
             waste                     660.972
Name: fuel_cost_per_unit_burned, Length: 148, dtype: float64

In [17]:
#extracting the cost for coal in 1994 and 1998 using the loc method and calculating the percent change relative to cost_1994
cost_1994, cost_1998 = cost.loc[[1994, 1998], 'coal']
percent_change = ((cost_1998 - cost_1994)/ cost_1994) * 100

percent_change

-20.56765451826049

In [18]:
# using the groupby function in extracting the year that has the highest average cost of fuel delivered
avg_cost_of_fuel_delivered = fuel_df.groupby(['report_year'])['fuel_cost_per_unit_delivered'].mean().sort_values(ascending=False)
avg_cost_of_fuel_delivered

report_year
1997    11140.197239
1996     9196.705948
2000      985.362877
2009      652.694163
2018      499.269966
2015      326.535511
1998      287.154420
2014      192.737183
2013      172.307591
2004      139.524275
2016      103.901761
2010       91.862105
1994       63.636060
2012       60.994502
2001       60.050396
2011       59.774667
2008       58.588197
2003       55.663493
2002       47.594361
2017       46.196861
2007       43.325023
2005       41.438184
2006       38.657484
1995       32.735269
1999       25.551627
Name: fuel_cost_per_unit_delivered, dtype: float64

In [19]:
#The year that has the highest average fuel cost per unit delivered
avg_cost_of_fuel_delivered.index[0]

1997